img {max-width: 100%; height: auto; margin-left: auto; margin-right: auto; text-align:center; display: block;}
.container{float: left; width: 100%; display: block; position: relative;}
.container-less{float: left; width: 100%; display: block; position: relative;}
.columns{float: left; display: block;}
.columns.one{width: 98%;}
.columns.two{width: 49%;}
.columns.promo{width: 70%;}
.columns.advisory{width: 30%;}
.columns.two-loader{width: 20%;}
.columns.two-divide{width: 24%;}
.columns.three{width: 31.33333%;}
.columns.three-nospace{width: 33.33333%;}
.columns.four{width: 23%;}
.columns.five{width: 18%;}
.columns.one-third{width: 31.333%; float: none !important; display: inline-block !important; margin-right: 0; margin-bottom: 15px;} 
.alpha {margin-left: 0!important;}
.omega {margin-right: 0!important;}
.row{margin-bottom: 20px;}
.row-winner{margin-bottom: 4px;}
.row-thumbnail{margin-bottom: 7px;}
.clear{ clear: both; float: none; display: block;}
.con-center {margin: 0 auto;}
.con-float-left {float:left}
.hidden {display:none;}
.red {color: #ff0000;}
.green {color : #53dc09;}
.spacer{ width: 100%; height: 95px;}
.error{
	border-color: red !important;
}

#regForm{
	word-wrap:break-word;
	font-size:23px;
	text-shadow:none;
	
}

#home{
	background: url('../images/home_background.png');
	background-size: 100% 100%;
}

#banner{
	max-width: 70%;
	margin-top: 10px;
}

#gender, #age, #history,{
	font-weight: bold;
	text-decoration: underline;
}

#weight{
	font-size: 22px;
}

.age{
	display : inline-block;
	margin-top: -40px;
	height:50px;
}
.age div.ui-input-text{
	max-width: 40px;
	border-radius: 0px;
	display : inline-block;
	box-shadow: none !important;
	border: 0;
	background-color: transparent !important;
	text-align: center;
	padding-right: 0;
	text-decoration: underline;
	
}

.weight{
	display : inline-block;
	margin-top: -40px;
	height:50px;
}
.weight div.ui-input-text{
	max-width: 40px;
	border-radius: 0px;
	display : inline-block;
	box-shadow: none !important;
	border: 0;
	background-color: transparent !important;
	text-align: center;
	padding-right: 0;
	text-decoration: underline;
	
}

.city{
	height:50px;
	display : inline-block;
	margin-top: -40px
}
.city div.ui-input-text{
    min-width: 50px;
    max-width: 120px;
    transition: width 0.25s;
	resize: horizontal;
	border-radius: 0px;
	display : inline-block;
	box-shadow: none !important;
	border: 0;
	font-size:22px;
	background-color: transparent !important;
	text-align: center;
	padding: 0;
	text-decoration: underline;
	text-align: center;

}

.desiredAmount{
	height:50px;
	width:100%;
	display : inline-block;
}
.desiredAmount div.ui-input-text{
    max-width: 200px
	border-radius: 0px;
	display : inline-block;
	box-shadow: none !important;
	border: 0;
	font-size:22px;
	background-color: transparent !important;
	text-align: center;
	padding: 0;
	text-decoration: underline;
	text-align: center;
	margin-top: -20px;

}

.premiumAmount{
	height:50px;
	width:100%;
	display : inline-block;

}
.premiumAmount div.ui-input-text{
    max-width: 200px;
	border-radius: 0px;
	display : inline-block;
	box-shadow: none !important;
	border: 0;
	font-size:22px;
	background-color: transparent !important;
	text-align: center;
	padding: 0;
	text-decoration: underline;
	text-align: center;
	margin-top: -20px

}


.ui-body-c{
	text-shadow:none;
	color: black;
}

#historyPopup{
	min-height: 100px;
}

#arrow-down{
	max-width: 60%;
	margin-bottom: 10px;
}



#pay_now_page{
	background: url('../images/bg_paynow.jpg');
	background-size: 100% 100%;
}

#grid{
	background: url('../images/bg_opaque.png');
	background-size: 100% 100%;
}

#icon-image{
	max-width: 70%;
	margin: 10px;
}

#mobileNumbPay{
	width:95%;
	background: url('../images/bg_opaque.png');
	padding: 0;
	border: 0;
	height: 25px;
}

#gateway{
	background: url('../images/bg_payment_gateway.jpg');
	background-size: 100% 100%;
}

#cardNumber, #secCode{
	width:95%;
	background: url('../images/bg_opaque.png');
	padding: 0;
	border: 0;
	height: 35px;
	margin-top: 10px;
}